<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UnitTestLoginPage.Properties.Settings.LocalDBCon"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\FaceInCake\source\repos\meBookStore\Comp4220\MEdatabase.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="BookStoreLIB.Properties.Settings.LocalDBCon" connectionString="Data Source=tfs.cspc1.uwindsor.ca;Initial Catalog=AgileDB21BN;Persist Security Info=True;User ID=AgileDB21BN;Password=AgileDB21BN#"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>